1. Variable Manipulation:
o Define variables to store a student's name, age, GPA, and list of subjects.
o Convert age from years to months and display the result.
o Concatenate and print a sentence using all the defined variables.

In [1]:
stud_names=['komal','piu','nishu']

In [2]:
age=29

In [3]:
cgpa=7.8

In [4]:
list_sub=['marathi','english','hindi']

In [5]:
month=age * 12

In [6]:
month

348

In [7]:
print(stud_names,age,cgpa,list_sub,month)

['komal', 'piu', 'nishu'] 29 7.8 ['marathi', 'english', 'hindi'] 348

Assignment 2: Data Structures - List, Tuple, Set, and Dictionary

1. Working with Lists:
o Create a list of integers and:
 Append a new number.
 Insert a number at a specific index.
 Remove duplicates and print the final list

In [9]:
list_numbers=[1,2,3,4,5,6,7,8,9]

In [10]:
list_numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
list_numbers.append(10)

In [12]:
list_numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
list_numbers.insert(4,11)

In [16]:
list_numbers

[1, 2, 3, 4, 11, 5, 6, 7, 8, 9, 10]

In [18]:
l2=set(list_numbers)

In [19]:
l2

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

2. Tuple Manipulation:
o Define a tuple of 5 colors.
o Try to add a new color to the tuple (observe and explain why it fails).
o Convert the tuple to a list, add the color, and convert it back to a tuple.

In [21]:
clrs=('yello','purple','green','white','pink')

In [22]:
clrs[1]='red'

TypeError: 'tuple' object does not support item assignment

In [23]:
list_tuple=list(clrs)

In [24]:
list_tuple

['yello', 'purple', 'green', 'white', 'pink']

In [25]:
list_tuple.append('red')

In [26]:
list_tuple

['yello', 'purple', 'green', 'white', 'pink', 'red']

In [27]:
t1=tuple(list_tuple)

In [28]:
t1

('yello', 'purple', 'green', 'white', 'pink', 'red')

In [29]:
type(t1)

tuple

3. Set Operations:
o Create two sets of random numbers.
o Find and print their union, intersection, and difference.
o Remove one element from the first set and add a new element.

In [30]:
set_1={1,2,3,4}

In [31]:
set_2={4,5,6,7}

In [32]:
set_1.union(set_2)

{1, 2, 3, 4, 5, 6, 7}

In [33]:
set_1.intersection(set_2)

{4}

In [35]:
set_1.difference(set_2)

{1, 2, 3}

In [36]:
set_1.remove(1)

In [37]:
set_1

{2, 3, 4}

In [38]:
set_1.add(10)

In [39]:
set_1

{2, 3, 4, 10}

4. Dictionary Practice:
o Define a dictionary for a library system with book titles as keys and available 
copies as values.
o Update the count of a specific book after it is borrowed.
o Add a new book to the dictionary and print the updated dictionary.

In [40]:
dic={'Marathi':2,'english':3,'hindi':2}

In [41]:
dic

{'Marathi': 2, 'english': 3, 'hindi': 2}

In [42]:
dic['english']=2

In [43]:
dic

{'Marathi': 2, 'english': 2, 'hindi': 2}

In [44]:
dic['math']=4

In [45]:
dic

{'Marathi': 2, 'english': 2, 'hindi': 2, 'math': 4}